* {
    margin: 0;
    padding: 0;
    background-color: rgb(66, 141, 211);
    color: rgb(202, 230, 235)

}
.carrusel {
    max-width: 60%;
    margin: auto;
    align-content: center;

}
h1, h2, h3, h4, p, a, input {
    margin: 0;
    padding: 0;
    tab-size: 30px;
}
ul {
    list-style-type: none;
}

a {
    text-decoration-style:dashed;
    text-decoration-color: brown;
    color: chocolate;
}
.contenido {
margin: auto;
}
.registro{
    background-color: rgb(107, 182, 214);
    padding: 80px;

}

.consultap{
    background-color: rgb(192, 224, 238);
    padding: 50px;

}
.detalle{
    padding: 40px;
}

.footer{
    background-color: rgb(103, 103, 146);
    width: auto;
    padding : 5px;
}